<h1 md-dialog-title><md-icon color="primary">fingerprint</md-icon>Inicia sesión</h1>
<md-dialog-content style="text-align : center">
  <button md-button color="primary" (click)="signIn('google')"><i class="fa fa-google fa-4x"></i></button>
  <button md-button color="primary" (click)="signIn('github')"><i class="fa fa-github fa-4x"></i></button>
  <button md-button color="primary" (click)="signIn('anonymous')"><i class="fa fa-user-circle-o fa-4x"></i></button>
  <!--<button md-button color="primary" (click)="signIn('twitter')"><i class="fa fa-twitter fa-4x"></i></button>-->
</md-dialog-content>