<md-card style="margin : 20px auto; width : 80%;">
  <md-card-title-group>
      <md-card-title>Jose Ángel Hermosilla Rodrigo</md-card-title>
      <md-card-subtitle>¡Descubre más acerca de mí!</md-card-subtitle>
      <img md-card-md-image src="./assets/joseahr.jpg" alt="Jose Hermosilla Rodrigo">
  </md-card-title-group>
  <md-card-content>
    <md-list>
      <h3 md-subheader>Fecha de nacimiento</h3>
      <md-list-item>
        <md-icon color="primary" md-list-icon>date_range</md-icon>
        <p md-line> {{getBirthdayString()}} </p>
      </md-list-item>
      <md-list-item>
        <md-icon color="primary" md-list-icon>person</md-icon>
        <p md-line> {{getMyAge()}} </p>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>Estudios</h3>
      <md-list-item>
        <md-icon color="primary" md-list-icon>work</md-icon>
        <p md-line>Título  : Bachillerato</p>
        <p md-line>Centro  : Nuestra Señora de Monte-Sión</p>
        <p md-line>Período : 2009 - 2011</p>
      </md-list-item>
      <md-list-item>
        <md-icon color="primary" md-list-icon>work</md-icon>
        <p md-line>Título  : Graduado en Ingeniería en Geomática y Topografía</p>
        <p md-line>Centro  : Escuela Técnica Superior de Ingeniería Geodésica, Cartográfica y Topográfica</p>
        <p md-line>Período : 2011 - 2016</p>
      </md-list-item>
      <md-list-item>
        <md-icon color="primary" md-list-icon>work</md-icon>
        <p md-line>Título  : Máster en Geomática y Geoinformación</p>
        <p md-line>Centro  : Escuela Técnica Superior de Ingeniería Geodésica, Cartográfica y Topográfica</p>
        <p md-line>Período : 2016 - Actualidad</p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>