<button 
  md-icon-button 
  *ngIf="user | async; let user; else no_user"
  [mdMenuTriggerFor]="menuLoggedIn"
>
  <img 
   src="{{user.photoURL || ANONYMOUS_USER_PHOTOURL }}"
    style="width : 40px; height : 40px; object-fit : cover !important; border-radius : 40px;">
</button>

<ng-template #no_user>
  <button md-icon-button [mdMenuTriggerFor]="menuLoggedOut">
    <md-icon>more_vert</md-icon>
  </button>
</ng-template>

<md-menu #menuLoggedIn="mdMenu" [overlapTrigger]="false">
  <button md-menu-item (click)="logout()">
    <md-icon>exit_to_app</md-icon>
    <span>Logout</span>
  </button>
</md-menu>

<md-menu #menuLoggedOut="mdMenu" [overlapTrigger]="false">
  <button md-menu-item (click)="openDialog()">
    <md-icon>person</md-icon>
    <span>Login</span>
  </button>
</md-menu>

