<md-accordion [displayMode]="'flat'" [multi]="false">
  <md-expansion-panel #panel  [hideToggle]="false">
    <md-expansion-panel-header>
      {{projection.getCode()}}
    </md-expansion-panel-header>

    <p *ngIf="pointerMoveCoords">X : {{pointerMoveCoords[0]}}</p>
    <p *ngIf="pointerMoveCoords">Y : {{pointerMoveCoords[1]}}</p>


    <md-action-row>
      <md-input-container>
        <input mdInput placeholder="Buscar proyección" [(ngModel)]="projectionToSearch">
      </md-input-container>
      <button md-button (click)="searchProjection()" [disabled]="!projectionToSearch.length">BUSCAR</button>
    </md-action-row>

  </md-expansion-panel>

</md-accordion>