
.navigation-link {
  cursor: pointer;
  background : #fff;
  color : rgb(63, 81, 181);
}

.active-link {
  background : rgb(63, 81, 181);
  color : #fff;
}

.mat-sidenav {
  padding: 0px;
}

.sidenav-container {
  top : 64px !important;
}

.sidenav-content {
  width : 100%;
}

@media screen and (max-width : 600px) {
  .sidenav-container {
    top : 56px !important;
  }
}