/* You can add global styles to this file, and also import other style files */
html, body {
    padding : 0px;
    margin: 0px;
    width : 100%;
    height : 100%;
    overflow-x: hidden;
    font-family: Roboto !important;
}

app-map, app-home {
  position : absolute;
  width    : 100%;
  top      : 64px;
  bottom   : 0px;
  left     : 0px;
}

@media screen and (max-width: 600px){
    app-map, app-home {
        top : 56px;
    }
}
